__pycache__/
*.pyc
*.pt
.venv/
venv/
.vscode/
debug.log

runs/
outputs/
videos/
dataset_ship/
dataset/archive.zip
dataset/images/
dataset/labels/
dataset/labels/*.cache
models/*.pt
*.onnx
*.engine
*.tar
*.tar.gz

.DS_Store
Thumbs.db
